/** 
* Styles for apply in Stripchat WebPage for Maximize chat window
*
* @module components/MaximizeButton
*/

.sct-flex-reverse {
  flex-direction: column-reverse !important;
}

.sct-dnone {
  display: none !important;
}

.sct-h-70 {
  height: 70vh !important;
}
